.emp_img{
    border-right: 1px solid #ccc;
    padding-right: 12px;
   }
   .create_btn {
     background-color: #12AF9B;
     color: #fff !important;
     padding: 7px 14px;
     border-radius: 10px;
     height: 43px;
 }
 button.btn.btn-block.link {
     border: 1px solid #12af9b;
     border-radius: 10px;
     height: 43px;
     margin-top: 0;
     width: 28%;
 }
 mat-icon.mat-icon.notranslate.filter.material-icons.mat-ligature-font.mat-icon-no-color {
     font-size: 18px;
     display: contents;
 }
 .mat-icon.mat-ligature-font[fontIcon]::before {
     margin-right: 6px;
 }
 .year_week {
    display: flex;
  }
.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {

        font-size: 19px;
        color: #5E5E5E;
        position: absolute;
        top: 11px;
        margin: 0 auto;
        left: 0px;
        right: 103px;
}
span.active_colum {
    background-color: #EDF9F0;
    padding: 5px 12px;
    border-radius: 60px;
    color: #009B15;
}
