<div class="modal-body">
    <div class="add_loacal_worker">
        <button class="btn" status="primary" nbButton size="small" (click)="inviteWorker()">
            <i class="material-icons mr-2">keyboard_arrow_left</i>
        </button>
        <div class="invite_workers">
            <h6>Invite Workers</h6>
            <p>Add Local Workers</p>
        </div>
    </div>

    <div>
        <mat-tab-group class="bg-transparent">
            <mat-tab label="Single upload">
                <div class="add_loacal_worker_name">
                    <div class="fn_div mb-2">
                        <p>First Name</p>
                        <div class="open_close_btn mt-1" style="display: revert;margin-top: -19px;">
                            <input type="text" class="form-control" style="padding: 4px 37px;"
                                [(ngModel)]="first_name" />
                        </div>
                    </div>
                    <div class="fn_div">
                        <p>Last Name</p>
                        <div class="open_close_btn mt-1" style="display: revert;margin-top: -19px;">
                            <input type="text" class="form-control" style="padding: 4px 37px;"
                                [(ngModel)]="last_name" />
                        </div>
                    </div>



                    <div class="ml-2 mt-3">
                        <div *ngFor="let worker of localworkers ;let i = index">
                            <div class="row">
                                <div class="col-md-12 mb-2">
                                    <!-- <img src="../../../assets/images/admin_pic.png" /> -->
                                    <label class="form-label admin_name">{{ worker.first_name }} {{
                                        worker.last_name }}</label>
                                    <img src="../../../assets/images/admin_remove.png" class="ml-4 remove_image float-right"
                                        (click)="removeWorker(i)" />

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="fn_div mt-2">
                        <button class="btn" status="primary" (click)="addWorker()">
                            <h6><mat-icon aria-hidden="false" class="add_icon" fontIcon="add"></mat-icon> Add another
                            </h6>
                        </button>
                    </div>

                    <div class="invite_workers mt-3">
                        <button class="btn btn-block create_btn " outline status="primary" nbButton size="small"
                            (click)="submitLocalWorker()">
                            Add Worker
                        </button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label=" Multiple uploads">
                <!-- <div class="upload_div">
                    <div class="cloud_icon mt-3">
                        <mat-icon>cloud_upload</mat-icon>
                        <p><span>Click to upload</span> or drag and drop</p>
                        <p>only CSV supported (max. 800x400px)</p>
                        <div class="or">
                            <p>OR</p>
                        </div>
                        <div class="file_btn mt-3">
                            <button class="btn btn-block browse_btn " outline status="primary" nbButton size="small">
                                Browse Files
                            </button>
                        </div>
                    </div>
                </div>
                <div class="invite_workers mt-3">
                    <button class="btn btn-block create_btn " outline status="primary" nbButton size="small">
                        Add Worker
                    </button>
                </div> -->
                <div class="drop-area" (drop)="onFileDropped($event)" (dragover)="onDragOver($event)">
                    <!-- <mat-icon>cloud_upload</mat-icon> -->
                    <p>Drag & Drop a file here</p>
                    <div *ngIf="file" class="mt-3">
                        <p>{{ file.name }}</p>
                    </div>
                </div>
                <div class="invite_workers mt-3">
                    <button class="btn btn-block create_btn " outline status="primary" nbButton size="small" (click)="addfileworker()">
                        Add Worker
                    </button>
                </div>

            </mat-tab>
        </mat-tab-group>
    </div>
</div>