<div class="modal-body">
    <button class="btn" status="primary" nbButton size="small" (click)="inviteWorker()">
        <i class="material-icons mr-2">keyboard_arrow_left</i>
    </button>
    <p>manage-worker-add-local-worker-modal works!</p>

    <div>
        <mat-tab-group class="bg-transparent">
            <mat-tab label="Single upload">
                <p>Single Upload</p>
            </mat-tab>
            <mat-tab label=" Multiple uploads">
                <p>multiple Upload</p>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>