<div class="modal-body">
    
    <div class="assign_role">
        <h6>Project: 132 – Library of Historical Arts Building</h6>
        <img src="../assets/images/barcode.png" style=" width: 40%; margin: 49px 141px;" />
    </div>
    <div class="edit_qa_btn ml-3">
        <button class="btn btn-block create_btn " outline status="primary" nbButton size="small">
        <mat-icon aria-hidden="false" class="filter mr-1" fontIcon="create icon"></mat-icon> Print QR Code
        </button>
    </div>

</div>