<div class="modal-body">
    <div id="assignRole" class="assign_role">
        <h6>Project: {{project?.id}} – {{project?.Description}}</h6>
        <img [src]="qrlink" style="width: 40%; margin: 49px 141px;" alt="QR Code" />
    </div>
    <div class="edit_qa_btn ml-3">
        <button class="btn btn-block create_btn " outline status="primary" nbButton size="small " (click)="printAssignRole()">
            <mat-icon aria-hidden="false" class="filter mr-1" fontIcon="create icon"></mat-icon> Print QR Code
        </button>
    </div>
</div>