<div class="enter_teb_header mt-5 mb-3">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="year_week float-right">
                <div class="form-group">
                    <ng-select class="ng-select-container project_list mr-4" bindLabel="name" dropdownPosition="auto"
                        placeholder="2024">
                    </ng-select>
                </div>
                <div class="form-group">
                    <ng-select class="ng-select-container project_list" bindLabel="name" dropdownPosition="auto"
                        placeholder="Week 3">
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <table class=" date_table" style="width:100%">
                <tr>
                    <th colspan="1"></th>
                    <th *ngFor="let weekday of selectedWeek"
                        [style.background-color]="weekday.date == selectedDay ? '#F85C04' : '#fff'"
                        [style.color]="weekday.date == selectedDay ? '#fff' : '#000'" (click)="selectDate(weekday.date)">{{ weekday.day }}
                    </th>
                </tr>
                <tr>
                    <td>Date</td>
                    <td *ngFor="let weekday of selectedWeek"
                        [style.background-color]="weekday.date == selectedDay ? '#F85C04' : '#fff'"
                        [style.color]="weekday.date == selectedDay ? '#fff' : '#000'" (click)="selectDate(weekday.date)">{{
                        formatDateToDayMonth(weekday.date) }}</td>

                </tr>
            </table>
        </div>
    </div>

</div>