.create_btn{
    background-color: #12AF9B !important;
    color: #fff !important;
    width: 100% !important;
    padding: 16px, 20px, 16px, 20px !important;
    border-radius: 10px !important;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}