<div class="modal-body">
    <div class="add_loacal_worker">
        <div class="invite_workers">
            <p>Enter Attendance</p>
            <p>{{worker.worker_id}} - {{worker.first_name }}</p>
        </div>
    </div>
    <form>
        <div class="row mb-3">
            <div class="time-input col-6">
                <mat-label>In Time</mat-label>
                <input class="p-1 ml-2" placeholder="HH:mm AM/PM" type="time" [(ngModel)]="in_time_1" name="in_time_1">
            </div>
            <div class="time-input col-6">
                <mat-label>Out Time</mat-label>
                <input class="p-1 ml-2" matInput placeholder="HH:mm AM/PM" type="time" [(ngModel)]="out_time_1"
                    name="out_time_1">
            </div>
        </div>
        <div class="row mb-3">
            <div class="time-input col-6">
                <mat-label>In Time</mat-label>
                <input class="p-1 ml-2" matInput placeholder="HH:mm AM/PM" type="time" [(ngModel)]="in_time_2"
                    name="in_time_2">
            </div>
            <div class="time-input col-6">
                <mat-label>Out Time</mat-label>
                <input class="p-1 ml-2" matInput placeholder="HH:mm AM/PM" type="time" [(ngModel)]="out_time_2"
                    name="out_time_2">
            </div>
        </div>
        <div class="row mb-3">
            <div class="time-input col-6">
                <mat-label>In Time</mat-label>
                <input class="p-1 ml-2" matInput placeholder="HH:mm AM/PM" type="time" [(ngModel)]="in_time_3"
                    name="in_time_3">
            </div>
            <div class="time-input col-6">
                <mat-label>Out Time</mat-label>
                <input class="p-1 ml-2" matInput placeholder="HH:mm AM/PM" type="time" [(ngModel)]="out_time_3"
                    name="out_time_3">
            </div>
        </div>

        <button class="btn btn-block create_btn" style="margin-top: 13px" nbButton size="small" (click)="submitAttendance()">
            Save
        </button>
    </form>






</div>