<div class="row">
    <div class="col-md-12">
      <div class="mb-3">
        <div class="empty_timesheet">
            <div class="empty_timesheet_img">
                <img src="../../../assets/images/empty_timesheet.png" />
            </div>
            
            <h5>No Timesheet created</h5> 
            <button class="btn btn-block create_btn" style="margin-top: 13px" outline status="primary" nbButton size="small">
                Create Timesheet
            </button>  
        </div>     
      </div>
    </div>
</div>