<div (click)="clickProject()" class="mr-3 mb-2">
  <div class="project_card">
    <div class="pr_time">
      <h6>Project: 132 – Library of Historical Arts Building</h6>
      <div class="pr_time mt-3 mb-3">
        <p>Duration</p>
        <span>12th Mar 2023 - 22nd Sept 2023</span>
      </div>
      <div class="pr_time ">
        <p>No of Workers</p>
        <span>20 Workers</span>
      </div>
    </div>
    <div class="pr_assign">
      <div class="emp_img mb-3">
        <img src="../../../../assets/images/admin_pic.png" />
        <img src="../../../../assets/images/admin_pic.png" />
        <img src="../../../../assets/images/admin_pic.png" />
      </div>
      <p>status</p>
      <span>Open</span>
    </div>

  </div>
</div>