<div (click)="clickProject()" class="mr-3 mb-2 mt-3">
  <div class="project_card">
    <div class="pr_time">
      <h6>Project: {{project?.id}} – {{project?.Description}}</h6>
      <div class="pr_time mt-3 mb-3">
        <p>Duration</p>
        <span>{{formatDate(timesheetdata.start_date)}} - {{formatDate(timesheetdata.end_date)}}</span>
      </div>
      <div class="pr_time ">
        <p>No of Workers</p>
        <span>{{total_workers}} {{total_workers < 2 ? 'Worker' : 'Workers' }}</span>
      </div>
    </div>
    <div class="pr_assign">
      <div class="emp_img mb-3" *ngIf="assignedAdmin.length > 0">
        <div *ngFor="let item of assignedAdmin">
          <!-- <img 
            src="../../../assets/icons/profile-icon-gray.svg" 
            [title]="item?.user?.fullname || 'No Name Available'" 
            alt="Admin Picture" 
          /> -->
          <mat-icon [matTooltip]="item?.user?.fullname || 'No Name Available'">person</mat-icon>

        </div>
      </div>
      <div *ngIf="assignedAdmin.length === 0">
      </div>
      <p>Status</p>
      <span [style.background-color]="timesheetdata.status === '1' ? '#F56630' : '#D0D5DD'">
        {{ timesheetdata.status === '1' ? 'Open' : 'Closed' }}
      </span>
    </div>

  </div>
</div>