.pr_name p {
    color: #5E5E5E;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
}
.pr_name span {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}
.create_timesheet {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 30px 0px;
}
label.form-label {
    color: #000000;
    font-size: 14px;
    margin: 3px;
    font-weight: 600;
    line-height: 20.3px;
}


// .switch {
//     position: relative;
//     display: inline-block;
//     width: 51px;
//     height: 23px;
//   }
  
//   .switch input { 
//     opacity: 0;
//     width: 0;
//     height: 0;
//   }
  
//   .slider {
//     position: absolute;
//     cursor: pointer;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: #ccc;
//     -webkit-transition: .4s;
//     transition: .4s;
//   }
  
//   .slider:before {
//     position: absolute;
//     content: "";
//     height: 21px;
//     width: 21px;
//     left: 1px;
//     bottom: 2px;
//     background-color: white;
//     -webkit-transition: .4s;
//     transition: .4s;
//   }
  
//   input:checked + .slider {
//     background-color: #12AF9B;
//   }
  
//   input:focus + .slider {
//     box-shadow: 0 0 1px #12AF9B;
//   }
  
//   input:checked + .slider:before {
//     -webkit-transform: translateX(26px);
//     -ms-transform: translateX(26px);
//     transform: translateX(26px);
//   }
  
//   /* Rounded sliders */
//   .slider.round {
//     border-radius: 34px;
//     height: 24px;
//     width: 50px;
//   }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .table-layout-div p {
    color: #000000;
    font-size: 14px;
    margin: 3px;
    font-weight: 600;
    line-height: 20.3px;
}
label.form-label.close_side{
    color:  #8B8B8B;
}
.openside{
    color: #5E5E5E;
}



:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #49c5b6 ;
    height: 24px;
    width: 39px;
    border-radius: 40px;
}

:host ::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #fff ;
    position: absolute;
    top: 5px;
}

:host ::ng-deep span.mat-slide-toggle-bar.mat-slide-toggle-bar-no-side-margin {
    background-color: #cacaca ;
    height: 24px;
    width: 39px;
    border-radius: 40px;
}

:host ::ng-deep  span.mat-slide-toggle-bar.mat-slide-toggle-bar-no-side-margin .mat-slide-toggle-thumb {
    background-color: #fff ;
    position: absolute;
    top: 5px;
    left: 1px;
}
.open_close_btn{
    display: flex;
}

:host ::ng-deep .mat-radio-button.mat-primary .mat-radio-inner-circle {
    background-color: #49c5b6 !important;
  }
  
:host ::ng-deep.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
   border-color:#49c5b6 !important;
  }

  :host ::ng-deep  .mat-checkbox-checked.mat-primary .mat-checkbox-background{
    background-color: #F56630 !important;
    width: 24px;
    height: 24px;
  }
  :host ::ng-deep .mat-checkbox-frame{
    width: 24px;
    height: 24px;

  }

  .open_close_btn span{
    position: relative;
    left: 9px;
    top: 38px;
  }
  :host ::ng-deep .material-icons {
    font-size: 19px;
    color: #5E5E5E;
  }
  
  label.form-label.ml-2.admin_name {
    font-size: 16px;
    font-weight: 400;
    color:#010203;
}
.admin_pic_name{
  width: 48px;
    height: 48px;
    background-color: #FFECE5;
    text-align: center;
    border-radius: 50px;
    font-size: 18px;
    padding: 14px 9px;
}
.assign_role.mt-2 {
  line-height: 54px;
}
.assign_time{
  display: flex;
  line-height: 43px;
}
.assign_section {
  padding: 30px 0px;
}
.create_btn{
  background-color: #12AF9B;
  color: #fff;
  width: 29%;
  padding: 16px, 20px, 16px, 20px;
  border-radius: 10px;

}