<div class="mb-4"> <span class="pr-2" style="text-decoration: underline; cursor: pointer;"
        (click)="navigatetotimesheet()">Timesheet</span>><span class="pl-2">{{project?.id}} –
        {{project?.Description}}</span></div>
<div class="row mb-5">
    <div class="col-md-6">
        <div class="mb-3">
            <h6 class="section_header mb-4">Project: {{project?.id}} – {{project?.Description}}</h6>
            <div class="Timesheet_prname">
                <div class="pr_name mr-5">
                    <p>Timesheet ID</p>
                    <span>{{timesheetdata?.timesheet_id}}</span>
                </div>
                <div class="pr_name mr-5">
                    <p>Duration</p>
                    <span>{{formatDate(timesheetdata?.start_date)}} - {{formatDate(timesheetdata?.end_date)}}</span>
                </div>
                <div class="pr_name pr_assign">
                    <p>status</p>
                    <span
                        [style.background-color]="timesheetdata?.status == '1' ? '#F56630' : '#D0D5DD'">{{timesheetdata?.status
                        == '1' ? 'Open' : 'Closed'}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="mb-3 header_pr_name">
            <div class="pr_assign edit_timesheet">
                <div class="emp_img mb-3">
                    <div *ngFor="let item of assignedAdmin">
                        <img src="../../../assets/icons/profile-icon-gray.svg"
                            [title]="item?.user?.fullname || 'No Name Available'" />
                    </div>
                </div>
                <div class="edit_qa_btn ml-3">
                    <button class="btn btn-block create_btn " outline status="primary" nbButton size="small"
                        (click)="editTimesheet()">
                        <mat-icon aria-hidden="false" class="filter mr-1" fontIcon="create"></mat-icon> Edit Timesheet
                    </button>
                    <button class="btn btn-block link ml-3" outline status="primary" nbButton size="small"
                        (click)="showQRCode()">
                        <mat-icon aria-hidden="false" class="filter mr-1" fontIcon="qr_code_2"></mat-icon>View QR Code
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<div>
    <mat-tab-group class="bg-transparent" (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Summary">
            <app-summary [timesheet]="timesheetdata" [timesheetid]="timesheetid"></app-summary>
        </mat-tab>
        <mat-tab label=" Attendance">
            <app-attendance [timesheet]="timesheetdata" [timesheetid]="timesheetid"></app-attendance>
        </mat-tab>
        <mat-tab label="Enter Time" [disabled]="!managetime">
            <app-enter-my-time [timesheet]="timesheetdata" [timesheetid]="timesheetid"></app-enter-my-time>
        </mat-tab>
        <mat-tab label="Manage Worker" [disabled]="!manageworker">
            <app-manage-worker [timesheet]="timesheetdata" [timesheetid]="timesheetid"></app-manage-worker>
        </mat-tab>
        <mat-tab label="Approve Timesheet">
            <app-approve-timesheet [timesheet]="timesheetdata" [timesheetid]="timesheetid"></app-approve-timesheet>
        </mat-tab>
    </mat-tab-group>
</div>