.emp_img {
    border-right: 1px solid #ccc;
    padding-right: 12px;
}

.create_btn {
    background-color: #12AF9B;
    color: #fff !important;
    padding: 7px 14px;
    border-radius: 10px;
    height: 43px;
}

button.btn.btn-block.link {
    border: 1px solid #12af9b;
    border-radius: 10px;
    height: 43px;
    margin-top: 0;
}

mat-icon.mat-icon.notranslate.filter.material-icons.mat-ligature-font.mat-icon-no-color {
    font-size: 18px;
    display: contents;
}

.mat-icon.mat-ligature-font[fontIcon]::before {
    margin-right: 6px;
}


:host ::ng-deep .mat-ripple.mat-tab-disabled .mat-tab-label-content {
    color: #939497 !important;
}