<p>project-details works!</p>

<div>
    <mat-tab-group class="bg-transparent">
        <mat-tab label="Summary">
            <app-summary></app-summary>
        </mat-tab>
        <mat-tab label="Attendance">
            <app-attendance></app-attendance>
        </mat-tab>
        <mat-tab label="Enter my Time">
            <app-enter-my-time></app-enter-my-time>
        </mat-tab>
        <mat-tab label="Manage Worker">
            <app-manage-worker></app-manage-worker>
        </mat-tab>
        <mat-tab label="Approve Timesheet">
            <app-approve-timesheet></app-approve-timesheet>
        </mat-tab>
    </mat-tab-group>
</div>