<div class="modal-body">

  <div class="invite_workers">
    <h6>Assigned Task</h6>
  </div>


  <div class="row">
    <div class="col-md-12 mb-3">
      <div class="form-group">

        <!-- <div class="admin_img mb-3 mt-3">
          <label class="form-label ml-3 admin_name" style="display: flex;width: 82%;"> Demolition :</label>
          <input class="form-control" style="padding: 0px 10px;width: 12%;text-align: center;" type="text" name="" id="" value="8">
        </div>
        <div class="admin_img mb-3 mt-3">
          <label class="form-label ml-3 admin_name" style="display: flex;width: 82%;"> Clearing :</label>
          <input class="form-control" style="padding: 0px 10px;width: 12%;text-align: center;" type="text" name="" id="" value="8">
        </div>
        <div class="admin_img mb-3 mt-3">
          <label class="form-label ml-3 admin_name" style="display: flex;width: 82%;"> Clearing :</label>
          <input class="form-control" style="padding: 0px 10px;width: 12%;text-align: center;" type="text" name="" id="" value="8">
        </div> -->
        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
          <div *ngFor="let task of work_assigned">
            <div class="admin_img mb-3 mt-3">
              <label class="form-label ml-3 admin_name" style="display: flex;width: 82%;">{{task}}</label>
              <input class="form-control" style="padding: 0px 10px;width: 12%;text-align: center;" type="text"
                [formControlName]="task.toLowerCase()">
            </div>
          </div>
          <button class="btn btn-block create_btn" style="margin-top: 13px" nbButton size="small" type="submit">
            Save
          </button>
        </form>
      </div>
    </div>

  </div>

 



</div>